@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

/* font-family: "Inter", sans-serif;
	font-family: "Lexend Deca", sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

body {
	font-size: 62.5%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #090b1a;
	color: white;
}
